---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
	<div class='blog-index'>
		<main>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<img
									class='hero-image'
									src={post.data.heroImage}
									alt={post.data.title}
								/>
								<div class='blog-details'>
									<h4 class='title'>{post.data.title}</h4>
									<p class='date'>
										<FormattedDate
											date={post.data.pubDate}
										/>
									</p>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</main>
	</div>
</BaseLayout>

<style>
	.blog-index {
		li {
			list-style: none;
			margin-bottom: 2rem;
		}
	}

	.hero-image {
		border-radius: 2rem;
		margin-bottom: 1rem;
	}

	main {
		max-width: 80ch;
	}

	.blog-details {
		display: flex;
		justify-content: space-between;
	}
</style>
