---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

--- ---

<BaseLayout>
	<div class='blog'>
		<main>
			<div class='hero-image'>
				{
					heroImage && (
						<img
							width={1020}
							height={510}
							src={heroImage}
							alt='{title}'
						/>
					)
				}
			</div>
			<div class='prose'>
				<div class='title'>
					<div class='date'>
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class='last-updated-on'>
									Last updated on{" "}
									<FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
				</div>
				<slot />
			</div>
		</main>
	</div>
</BaseLayout>

<style>
	.blog {
		display: flex;
		justify-content: center;

		h1 {
			margin-bottom: 2rem;
		}

		h2 {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		h3,
		h4 {
			margin-top: 2rem;
		}

		a {
			border-bottom: none;
			text-decoration: underline;
		}

		ul li,
		ol li {
			margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 1rem;
			}
		}

		.footnotes {
			display: flex;
			flex-direction: column;
		}
	}

	main {
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		max-width: 70ch;
		display: flex;
		padding: 0 1rem;
	}

	img {
		border-radius: 1.5rem;
	}

	.date {
		margin: 1rem 0;
	}

	@media screen and (max-width: 600px) {
		main {
			max-width: 100%;
			padding: 0 1rem;
		}
	}
</style>
